* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-size: 48px;
  color: #94B4C1;
}
p {
  font-size: 20px;
  color: white;
}
span{
  color: tomato;
  font-weight: bold;
}
.about p{
  padding: 1rem 2rem;
}
.click{
  text-align: center;
}
button{
  outline: none;
  border-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  min-height: 36px;
  min-width: 128px;
  overflow: visible;
  position: relative;
  cursor: pointer;
  background-color: #94B4C1;
  border-radius: 10px 10px;
  font-weight: bold;
}

button:hover {
  background-color: #547792;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  button {
    padding: 16px 44px;
    min-width: 150px;
  }
}

button:active {
  background: #415d72;
}